<h3>Edit information for <%= @job.name %></h3>
<%= render 'form' %>
<p><%= link_to "Delete this job", job_path(@job), :data => {:confirm =>
	            "Are you sure? All the data associated with this job will be deleted!",
	             :method => :delete} %></p>