<h1> All the Available Jobs</h1>
<%= image_tag "lavayou.png", class: "secret", height: "350px" %>

<% @jobs.each do |job| %>
	<ul>
		<li><h3><%= link_to job.name, job_path(job) %></h3></li>
	</ul>
<% end %>

<%= link_to "Create a new job", new_job_path %>
