@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #98dafc;
}

.navbar  {
	background: #daad86;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 1.5em;
	margin: 5px 0 -5px 0;
	> img.menu-logo {
		margin-top: -15px;
		padding: 0;
	}
}

div.container-body {
  margin-top: 80px; 
  p {
   &.alert, &.notice {
    position: absolute;
    text-align: center;
    color: red;
    font-size: 1.3em;
    padding: 0;
    margin: -10px 0 0 10px;
   }
  } 
}

th {
  border: 1px solid #b3b3b3;
}

td {
  border: 1px solid #b3b3b3;
}

td.hidden-cell {
  border: 1px solid #98dafc;
  background: #98dafc;
  a {
    visibility: hidden;
  }

}

table.records {
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 20px;
     &:hover{
       td.hidden-cell a {
       visibility: visible;
      }


     }
     th {
      background-color: #cccccc;
      text-align: center;
      padding: 0 5px 0 5px;
     }
     td {
       padding: 0 5px 0 5px;
     }     
}
 h4.todays-date {
  font-size: 1.2em;
  color: #666666;
  background-color: #f2f2f2;
  border: 1px solid #b3b3b3;
  float: right;
  padding: 2px;
 }


div.row {
	margin-top: 40px;
}

img.secret {
  float: right;
}

tr:hover {
  background-color: #ccf3ff;
}


